#jinja2: trim_blocks: True,lstrip_blocks: True

{% if ios_config is defined and ios_config %}
{% for key in ios_config.keys() %}
{% if "-" in key %}
interface range {{ key }}
{% else %}
interface {{ key }}
{% endif %}
{% set intf_vars  = ios_config[key] %}
{% if intf_vars.desc is defined %}
 {% if intf_vars.desc %}
description "{{ intf_vars.desc }}"
 {% else %}
no description
 {% endif %}
{% endif %}
{% if intf_vars.portmode is defined %}
 {% if intf_vars.portmode == "User"%}
spanning-tree portfast
spanning-tree guard root
switchport port-security max 10
switchport mode private-vlan host
switchport private-vlan host-association {{intf_vars.primary}} {{intf_vars.isolated}}
 {% elif intf_vars.portmode == "AP"%}
switchport access vlan {{intf_vars.ap_vlan}}
spanning-tree portfast
 {% elif intf_vars.portmode == "Uplink"%}
ip dhcp snooping trust
switchport mode trunk
switchport trunk allowed vlan 1,{{intf_vars.trunked_vlans}}
 {% elif intf_vars.portmode == "Downlink"%}
switchport mode trunk
switchport trunk allowed vlan 1,{{intf_vars.trunked_vlans}}
 {% else %}
no switchport mode
no switchport access vlan
no switchport private-vlan host-association
no spanning-tree portfast
no spanning-tree guard
no switchport port-security max
no ip dhcp snooping trust
 {% endif %}
{% endif %}
{% if intf_vars.admin is defined %}
 {% if intf_vars.admin == "up"%}
no shutdown
 {% elif intf_vars.admin == "down" %}
shutdown
 {% endif %}
{% endif %}
exit
{% endfor %}
{% endif %}
